/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 ANIMACIONES
5.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media (min-width: $md) {
        height: 100%;
    }
}

.site-wrapper {
    position: relative;
    z-index: 1;
    @media (min-width: $md) {
        height: 100%;
    }
}

/*--------------------------------------------------------------
4.0 ANIMACIONES
--------------------------------------------------------------*/

@import 'sass/animaciones';

/*--------------------------------------------------------------
5.0 GENERAL
--------------------------------------------------------------*/