/*FUENTES*/
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'CAGeheimagent', $fuente-principal;

/*COLORES*/
$color-blanco: #fff;
$color-negro: #111212;
$color-gris: #3e3e3e;
$color-gris2: #707070;
$color-gris-fondo:#F8F8F8;
$color-rojo-fondo:#ff2638;
$color-rojo-btn:$color-rojo-fondo;


$transitionSpeed: 500ms;
$transitionSpeedx2: 800ms;

$paddingLeftRight: 36px;
$paddingLeftRightMD: 75px;
$paddingLeftRightLG: 175px;
$paddingLeftRightXLG: 266px;

/*GRID OPTIONS*/
$xs: 565px; //<576px
$sm: 768px; //<768px
$md: 992px; //<992px
$lg: 1200px; //<1200px
$xlg: 1600px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($var) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
          transition: $var;
}

@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
          box-shadow: $var;
}

@mixin transform($var) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
          transform: $var;
}

.mob-only {
  @media (min-width: $xs) {
      display: none;
  }
}
.xs-only {
  display: none;
  @media (min-width: $xs) {
      display: block;
  }
  @media (min-width: $sm) {
    display: none;
  }
}
.sm-only {
  display: none;
  @media (min-width: $sm) {
    display: block;
  }
  @media (min-width: $md) {
    display: none;
  }
}
.md-only {
  display: none;
  @media (min-width: $md) {
      display: block;
  }
}